package db.migration;

import org.flywaydb.core.api.migration.BaseJavaMigration;
import org.flywaydb.core.api.migration.Context;
import org.flywaydb.core.internal.jdbc.JdbcTemplate;
import org.flywaydb.core.internal.jdbc.JdbcUtils;
import org.flywaydb.core.internal.jdbc.TransactionTemplate;

import java.sql.Connection;
import java.sql.PreparedStatement;
import java.util.concurrent.atomic.AtomicInteger;

public class %s extends BaseJavaMigration {

    private static final Integer LIMIT = %s;

    @Override
    public void migrate(Context context) {
        Connection connection = context.getConnection();
        TransactionTemplate transactionTemplate = new TransactionTemplate(connection);

        AtomicInteger rowsUpdated = new AtomicInteger(1);

        while (rowsUpdated.get() > 0) {
            transactionTemplate.execute(() -> {
                PreparedStatement statement = null;

                try {
                    statement = connection.prepareStatement("%s");
                    statement.setInt(1, LIMIT);
                    rowsUpdated.set(statement.executeUpdate());
                    System.out.println("Rows updated " + rowsUpdated.get());
                } finally {
                    JdbcUtils.closeStatement(statement);
                }

                return null;
            });
        }
    }
}
